adf/pipeline/PL_ING_PDL.json
{
	"name": "PL_ING_PDL",
	"properties": {
		"activities": [
			{
				"name": "SETVAR_CURRENT_TIME",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "current_time",
					"value": {
						"value": "@{convertTimeZone(\n\t\t\t\tutcNow(),\n\t\t\t\t'UTC',\n\t\t\t\t'West Asia Standard Time'\n\t\t\t\t,'yyyy/MM/dd/HH')}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "DEL_FROM_FULL",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "SETVAR_CURRENT_TIME",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_PDL_PARQUET",
						"type": "DatasetReference",
						"parameters": {
							"DS_Filesystem": "raw",
							"DS_Directory": {
								"value": "@concat(\n\t'101-uscb/credit_scores/full/',\n\tvariables('current_time')\n\t)",
								"type": "Expression"
							},
							"DS_Environment": "dev"
						}
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "CPY_2_PDL",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "DEL_FROM_FULL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AmazonS3ReadSettings",
							"recursive": false,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".csv"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "SeriousDlqin2yrs",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "SeriousDlqin2yrs",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "RevolvingUtilizationOfUnsecuredLines",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "RevolvingUtilizationOfUnsecuredLines",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "age",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "age",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "NumberOfTime30-59DaysPastDueNotWorse",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "NumberOfTime30-59DaysPastDueNotWorse",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "DebtRatio",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "DebtRatio",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "MonthlyIncome",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "MonthlyIncome",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "NumberOfOpenCreditLinesAndLoans",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "NumberOfOpenCreditLinesAndLoans",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "NumberOfTimes90DaysLate",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "NumberOfTimes90DaysLate",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "NumberRealEstateLoansOrLines",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "NumberRealEstateLoansOrLines",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "NumberOfTime60-89DaysPastDueNotWorse",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "NumberOfTime60-89DaysPastDueNotWorse",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "NumberOfDependents",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "NumberOfDependents",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_USCB_CREDIT_SCORES",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_PDL_CSV",
						"type": "DatasetReference",
						"parameters": {
							"DS_Filesystem": "raw",
							"DS_Directory": {
								"value": "@concat(\n\t'101_uscb/credit_scores/full/',\n\tvariables('current_time')\n\t)",
								"type": "Expression"
							},
							"DS_Environment": "dev"
						}
					}
				]
			}
		],
		"parameters": {
			"Environment": {
				"type": "string",
				"defaultValue": "dev"
			}
		},
		"variables": {
			"current_time": {
				"type": "String"
			}
		},
		"annotations": []
	}
}