adf/pipeline/PL_ING_PDL.json
{
	"name": "PL_ING_PDL",
	"properties": {
		"activities": [
			{
				"name": "SETVAR_CURRENT_TIME",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "current_time",
					"value": {
						"value": "@{convertTimeZone(\n\t\t\t\tutcNow(),\n\t\t\t\t'UTC',\n\t\t\t\t'West Asia Standard Time'\n\t\t\t\t,'yyyy/MM/dd/HH')}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "DEL_FROM_FULL",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "SETVAR_CURRENT_TIME",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_PDL_PARQUET",
						"type": "DatasetReference",
						"parameters": {
							"DS_Filesystem": "raw",
							"DS_Directory": {
								"value": "@concat(\n\t'101_uscb/credit_scores/full/',\n\tvariables('current_time')\n\t)",
								"type": "Expression"
							},
							"DS_Environment": {
								"value": "@pipeline().parameters.Environment",
								"type": "Expression"
							}
						}
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "DF_SELECT_COLS_AND_COPY_2_FULL",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "DEL_FROM_FULL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "DF_SELECT_COLS",
						"type": "DataFlowReference",
						"datasetParameters": {
							"sinkcreditscores": {
								"DS_Filesystem": "raw",
								"DS_Directory": {
									"value": "@concat(\n\t'101_uscb/credit_scores/full/',\n\tvariables('current_time')\n\t)",
									"type": "Expression"
								},
								"DS_Environment": "dev"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "CPY_FULL_2_CURRENT",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "DEL_FROM_CURRENT",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFolderPath": {
								"value": "@concat(\n\t'101_uscb/credit_scores/full/',\n\tvariables('current_time')\n\t)",
								"type": "Expression"
							},
							"wildcardFileName": "*.parquet",
							"enablePartitionDiscovery": false
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_PDL_PARQUET",
						"type": "DatasetReference",
						"parameters": {
							"DS_Filesystem": "raw",
							"DS_Directory": {
								"value": "@concat(\n\t'101_uscb/credit_scores/full/',\n\tvariables('current_time')\n\t)",
								"type": "Expression"
							},
							"DS_Environment": {
								"value": "@pipeline().parameters.Environment",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_PDL_PARQUET",
						"type": "DatasetReference",
						"parameters": {
							"DS_Filesystem": "raw",
							"DS_Directory": "101_uscb/credit_scores/current",
							"DS_Environment": "dev"
						}
					}
				]
			},
			{
				"name": "DEL_FROM_CURRENT",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "DF_SELECT_COLS_AND_COPY_2_FULL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_PDL_PARQUET",
						"type": "DatasetReference",
						"parameters": {
							"DS_Filesystem": "raw",
							"DS_Directory": "101_uscb/credit_scores/current",
							"DS_Environment": "dev"
						}
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			}
		],
		"parameters": {
			"Environment": {
				"type": "string",
				"defaultValue": "dev"
			}
		},
		"variables": {
			"current_time": {
				"type": "String"
			}
		},
		"annotations": []
	}
}