pdladfprod/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "pdladfprod"
		},
		"LS_EUW_PDL_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://pdleuw@{linkedService().Environment}.dfs.core.windows.net/"
		},
		"LS_EUW_PDL_properties_typeProperties_tenant": {
			"type": "string",
			"defaultValue": "21baf638-7ba7-431e-96f5-2b57914b27c3"
		},
		"LS_EUW_PDL_properties_typeProperties_servicePrincipalId": {
			"type": "object",
			"defaultValue": {
				"type": "AzureKeyVaultSecret",
				"store": {
					"type": "LinkedServiceReference",
					"referenceName": "LS_KV"
				},
				"secretName": "client-id"
			}
		},
		"LS_KV_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "@{concat('https://pdl-',linkedService().Environment,'-kv.vault.azure.net/')}"
		},
		"LS_S3_USCB_properties_typeProperties_accessKeyId": {
			"type": "object",
			"defaultValue": {
				"type": "AzureKeyVaultSecret",
				"store": {
					"referenceName": "LS_KV",
					"type": "LinkedServiceReference"
				},
				"secretName": "uscb-s3-accesskey"
			}
		},
		"LS_USCB_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://uscbeuw.dfs.core.windows.net/"
		},
		"LS_USCB_properties_typeProperties_tenant": {
			"type": "string",
			"defaultValue": "21baf638-7ba7-431e-96f5-2b57914b27c3"
		},
		"LS_USCB_properties_typeProperties_servicePrincipalId": {
			"type": "string",
			"defaultValue": "f89de603-061a-45de-b029-40ca4360e14b"
		},
		"TG_NIGHTLY_ING_CREDIT_SCORES_properties_PL_ING_PDL_parameters_Environment": {
			"type": "string",
			"defaultValue": "dev"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PL_ING_PDL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SETVAR_CURRENT_TIME",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "current_time",
							"value": {
								"value": "@{convertTimeZone(\n\t\t\t\tutcNow(),\n\t\t\t\t'UTC',\n\t\t\t\t'West Asia Standard Time'\n\t\t\t\t,'yyyy/MM/dd/HH')}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "DEL_FROM_FULL",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "SETVAR_CURRENT_TIME",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DS_PDL_PARQUET",
								"type": "DatasetReference",
								"parameters": {
									"DS_Filesystem": "raw",
									"DS_Directory": {
										"value": "@concat(\n\t'101_uscb/credit_scores/full/',\n\tvariables('current_time')\n\t)",
										"type": "Expression"
									},
									"DS_Environment": {
										"value": "@pipeline().parameters.Environment",
										"type": "Expression"
									}
								}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "DF_SELECT_COLS_AND_COPY_2_FULL",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "DEL_FROM_FULL",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_SELECT_COLS",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"creditscores": {},
									"sinkcreditscores": {
										"DS_Filesystem": "raw",
										"DS_Directory": {
											"value": "@concat(\n\t'101_uscb/credit_scores/full/',\n\tvariables('current_time')\n\t)",
											"type": "Expression"
										},
										"DS_Environment": {
											"value": "@pipeline().parameters.Environment",
											"type": "Expression"
										}
									}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "CPY_FULL_2_CURRENT",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "DEL_FROM_CURRENT",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "@concat(\n\t'101_uscb/credit_scores/full/',\n\tvariables('current_time')\n\t)",
										"type": "Expression"
									},
									"wildcardFileName": "*.parquet",
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_PDL_PARQUET",
								"type": "DatasetReference",
								"parameters": {
									"DS_Filesystem": "raw",
									"DS_Directory": {
										"value": "@concat(\n\t'101_uscb/credit_scores/full/',\n\tvariables('current_time')\n\t)",
										"type": "Expression"
									},
									"DS_Environment": {
										"value": "@pipeline().parameters.Environment",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_PDL_PARQUET",
								"type": "DatasetReference",
								"parameters": {
									"DS_Filesystem": "raw",
									"DS_Directory": "101_uscb/credit_scores/current",
									"DS_Environment": {
										"value": "@pipeline().parameters.Environment",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "DEL_FROM_CURRENT",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "DF_SELECT_COLS_AND_COPY_2_FULL",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DS_PDL_PARQUET",
								"type": "DatasetReference",
								"parameters": {
									"DS_Filesystem": "raw",
									"DS_Directory": "101_uscb/credit_scores/current",
									"DS_Environment": {
										"value": "@pipeline().parameters.Environment",
										"type": "Expression"
									}
								}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"Environment": {
						"type": "string",
						"defaultValue": "dev"
					}
				},
				"variables": {
					"current_time": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_PDL_PARQUET')]",
				"[concat(variables('factoryId'), '/dataflows/DF_SELECT_COLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_DL_USCB_CREDIT_SCORES')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_USCB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "credit-scores-latest.csv",
						"folderPath": "credit-scores",
						"fileSystem": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Prop_0",
						"type": "String"
					},
					{
						"name": "SeriousDlqin2yrs",
						"type": "String"
					},
					{
						"name": "RevolvingUtilizationOfUnsecuredLines",
						"type": "String"
					},
					{
						"name": "age",
						"type": "String"
					},
					{
						"name": "NumberOfTime30-59DaysPastDueNotWorse",
						"type": "String"
					},
					{
						"name": "DebtRatio",
						"type": "String"
					},
					{
						"name": "MonthlyIncome",
						"type": "String"
					},
					{
						"name": "NumberOfOpenCreditLinesAndLoans",
						"type": "String"
					},
					{
						"name": "NumberOfTimes90DaysLate",
						"type": "String"
					},
					{
						"name": "NumberRealEstateLoansOrLines",
						"type": "String"
					},
					{
						"name": "NumberOfTime60-89DaysPastDueNotWorse",
						"type": "String"
					},
					{
						"name": "NumberOfDependents",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_USCB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_PDL_CSV')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_EUW_PDL",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"DS_Filesystem": {
						"type": "string"
					},
					"DS_Directory": {
						"type": "string"
					},
					"DS_Environment": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": {
							"value": "@dataset().DS_Directory",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().DS_Filesystem",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_EUW_PDL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_PDL_PARQUET')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_EUW_PDL",
					"type": "LinkedServiceReference",
					"parameters": {
						"Environment": {
							"value": "@dataset().DS_Environment",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"DS_Filesystem": {
						"type": "string"
					},
					"DS_Directory": {
						"type": "string"
					},
					"DS_Environment": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": {
							"value": "@dataset().DS_Directory",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().DS_Filesystem",
							"type": "Expression"
						}
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_EUW_PDL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_S3_USCB_CREDIT_SCORES')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_S3_USCB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AmazonS3Location",
						"bucketName": "uscbdev",
						"folderPath": "credit-scores",
						"fileName": "credit-scores-latest.csv"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Prop_0",
						"type": "String"
					},
					{
						"name": "SeriousDlqin2yrs",
						"type": "String"
					},
					{
						"name": "RevolvingUtilizationOfUnsecuredLines",
						"type": "String"
					},
					{
						"name": "age",
						"type": "String"
					},
					{
						"name": "NumberOfTime30-59DaysPastDueNotWorse",
						"type": "String"
					},
					{
						"name": "DebtRatio",
						"type": "String"
					},
					{
						"name": "MonthlyIncome",
						"type": "String"
					},
					{
						"name": "NumberOfOpenCreditLinesAndLoans",
						"type": "String"
					},
					{
						"name": "NumberOfTimes90DaysLate",
						"type": "String"
					},
					{
						"name": "NumberRealEstateLoansOrLines",
						"type": "String"
					},
					{
						"name": "NumberOfTime60-89DaysPastDueNotWorse",
						"type": "String"
					},
					{
						"name": "NumberOfDependents",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_S3_USCB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_EUW_PDL')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "AzureBlobFS",
				"annotations": [],
				"typeProperties": {
					"url": "[parameters('LS_EUW_PDL_properties_typeProperties_url')]",
					"tenant": "[parameters('LS_EUW_PDL_properties_typeProperties_tenant')]",
					"servicePrincipalId": "[parameters('LS_EUW_PDL_properties_typeProperties_servicePrincipalId')]",
					"servicePrincipalCredentialType": "ServicePrincipalKey",
					"servicePrincipalCredential": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "LS_KV",
							"type": "LinkedServiceReference"
						},
						"secretName": "app-secret"
					}
				},
				"parameters": {
					"Environment": {
						"type": "string"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_KV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_KV')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"Environment": {
						"type": "string",
						"defaultValue": "dev"
					}
				},
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('LS_KV_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_S3_USCB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AmazonS3",
				"typeProperties": {
					"serviceUrl": "https://s3.amazonaws.com",
					"accessKeyId": "[parameters('LS_S3_USCB_properties_typeProperties_accessKeyId')]",
					"secretAccessKey": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "LS_KV",
							"type": "LinkedServiceReference"
						},
						"secretName": "uscb-s3-secret"
					},
					"authenticationType": "AccessKey"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_KV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_USCB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_USCB_properties_typeProperties_url')]",
					"tenant": "[parameters('LS_USCB_properties_typeProperties_tenant')]",
					"servicePrincipalId": "[parameters('LS_USCB_properties_typeProperties_servicePrincipalId')]",
					"servicePrincipalCredentialType": "ServicePrincipalKey",
					"servicePrincipalCredential": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "LS_KV",
							"type": "LinkedServiceReference"
						},
						"secretName": "app-secret"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_KV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TG_NIGHTLY_ING_CREDIT_SCORES')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "PL_ING_PDL",
							"type": "PipelineReference"
						},
						"parameters": {
							"Environment": "[parameters('TG_NIGHTLY_ING_CREDIT_SCORES_properties_PL_ING_PDL_parameters_Environment')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2022-09-13T13:09:00",
						"endTime": "2022-09-30T00:09:00",
						"timeZone": "Pakistan Standard Time",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								20
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PL_ING_PDL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF_SELECT_COLS')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DS_DL_USCB_CREDIT_SCORES",
								"type": "DatasetReference"
							},
							"name": "creditscores"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DS_PDL_PARQUET",
								"type": "DatasetReference"
							},
							"name": "sinkcreditscores"
						}
					],
					"transformations": [
						{
							"name": "selectcols"
						}
					],
					"scriptLines": [
						"source(output(",
						"          {_c0} as short,",
						"          SeriousDlqin2yrs as boolean,",
						"          RevolvingUtilizationOfUnsecuredLines as double,",
						"          age as short,",
						"          {NumberOfTime30-59DaysPastDueNotWorse} as short,",
						"          DebtRatio as double,",
						"          MonthlyIncome as string,",
						"          NumberOfOpenCreditLinesAndLoans as short,",
						"          NumberOfTimes90DaysLate as short,",
						"          NumberRealEstateLoansOrLines as short,",
						"          {NumberOfTime60-89DaysPastDueNotWorse} as short,",
						"          NumberOfDependents as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> creditscores",
						"creditscores select(mapColumn(",
						"          SeriousDlqin2yrs,",
						"          RevolvingUtilizationOfUnsecuredLines,",
						"          age,",
						"          {NumberOfTime30-59DaysPastDueNotWorse},",
						"          DebtRatio,",
						"          MonthlyIncome,",
						"          NumberOfOpenCreditLinesAndLoans,",
						"          NumberOfTimes90DaysLate,",
						"          NumberRealEstateLoansOrLines,",
						"          {NumberOfTime60-89DaysPastDueNotWorse},",
						"          NumberOfDependents",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> selectcols",
						"selectcols sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'parquet',",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> sinkcreditscores"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_DL_USCB_CREDIT_SCORES')]",
				"[concat(variables('factoryId'), '/datasets/DS_PDL_PARQUET')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/credential1')]",
			"type": "Microsoft.DataFactory/factories/credentials",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "ServicePrincipal",
				"typeProperties": {
					"tenant": "21baf638-7ba7-431e-96f5-2b57914b27c3",
					"servicePrincipalId": "client-id",
					"servicePrincipalKey": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "LS_KV",
							"type": "LinkedServiceReference"
						},
						"secretName": "app-secret"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_KV')]"
			]
		}
	]
}